<!-- Header Section Begin -->
<header class="header">
	<div class="container">
		<div class="row">
			{% block logo %}
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="{{ url('home') }}">
							<img src="img/LogoXoKas.png" alt="">
						</a>
					</div>
				</div>
			{% endblock %}

			{# Si el usuario esta logeado y es un admin se carga un menu de navegacion diferente #}
			{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
				{% block navAdmin %}
					<div class="col-lg-8">
						<div class="header__nav">
							<nav class="header__menu mobile-menu">
								<ul>
									<li class="active">
										<a href="{{ url('home')}}">Juegos</a>
									</li>
									<li class="">
										<a href="{{ url('admin')}}">Mantenimiento</a>
									</li>
									<li>
										<a href="{{ url('mantenimientoSala')}}">Sala</a>
									</li>
									<li>
										<a href="./blog.html">Reservas</a>
									</li>
									<li>
										<a href="#">Eventos</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				{% endblock %}
			{% else %}
				{# si no esta logeado, o si lo esta pero es un socio, se carga el menu normal #}
				{% block navUser %}
					<div class="col-lg-8">
						<div class="header__nav">
							<nav class="header__menu mobile-menu">
								<ul>
									<li class="active">
										<a href="{{ url('home')}}">Inicio</a>
									</li>
									<li>
										<a href="./blog.html">Eventos</a>
									</li>

									{# si esta logeado puede acceder a sus reservas #}
									{% if app.user and 'ROLE_USER' in app.user.roles %}
										<li>
											<a href="./categories.html">Mis Reservas</a>
										</li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				{% endblock %}
			{% endif %}


			{% block personal %}
				<div class="col-lg-2">
					<div class="header__right">
						<ul>
							{# <li>
																						<a href="#" class="search-switch">
																							<span class="icon_search"></span>
																						</a>
																					</li> #}
							<li>
								<a>
									<span class="icon_profile">
										<span class="arrow_carrot-down"></span>
									</span>
								</a>
								<ul class="dropdown">
									{% if app.user %}
										<li>
											<a href="./categories.html">Mi Perfil
												<span class="fa fa-user"></span>
											</a>
										</li>
										<li>
											<a href="{{ path('app_logout') }}">Cerrar Sesión
												<i class="fa-solid fa-door-open"></i>
											</a>
										</li>

									{% else %}
										<li>
											<a href="{{ url('app_login') }}">Iniciar Sesión
												<span class="fa fa-user"></span>
											</a>
										</li>
										<li>
											<a href="{{ url('app_register') }}">Crear Cuenta
												<span class="fa fa-user-plus"></span>
											</a>
										</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			{% endblock %}
		</div>
		<div id="mobile-menu-wrap"></div>
	</div>
</header>
<!-- Header End -->
