<section class="c-cuerpo">

	<div class="trending__product">
		{% if role is same as 'admin' %}
		<div class="col-12">
			<div class="row ">
				<div class="section-title col-10">
					<h4 class="col-11">GESTIÓN DE JUEGOS</h4>
				</div>
				<div class="col-2 d-flex flex-row-reverse">
					<a href="{{ path('formularioJuego' )}}"><span class="text-light h3 fa fa-plus"></span></a>
				</div>
			</div>
			<div class="col-12">

				<table class="c-tabla-juegos col-12">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Jugadores</th>
							<th>Dimensiones</th>
							<th>Imagen</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>

						{% for juego in juegos %}

						{% if juego.minJugadores is same as juego.maxJugadores %}
						{% set jugadores = juego.maxJugadores %}

						{% else %}
						{% set jugadores = juego.minJugadores ~ ' / ' ~ juego.maxJugadores %}

						{% endif %}


						<tr>
							<td>{{ juego.nombre }}</td>
							<td class="descripcion">{{ juego.descripcion }}
							</td>
							<td>{{ jugadores }}</td>
							<td>{{ juego.anchoTablero }}
								x
								{{ juego.altoTablero}}
								cm</td>
							<td><img src="img/juegos/{{ juego.imagen }}" alt="imagen del juego" width="50px"
									height="50px">
							</td>
							<td>
								<div>
									<a href="#"><span class="text-light fa fa-pencil"></span></a>
									<a href="#"><span class="text-light fa fa-trash"></span></a>
								</div>
							</td>
						</tr>

						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
		{% else %}
		{# Si no es admin #}
		<div class="col-12">

			<div class="section-title">
				<h4>CATÁLOGO DE JUEGOS</h4>
			</div>
			<div class="row">

				{% for juego in juegos %}

				{% if juego.minJugadores is same as juego.maxJugadores %}
				{% set jugadores = juego.maxJugadores %}

				{% else %}
				{% set jugadores = juego.minJugadores ~ ' / ' ~ juego.maxJugadores %}

				{% endif %}

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="product__item" data-id="{{ juego.id }}">
						<div class="product__item__pic set-bg" data-setbg="img/juegos/{{ juego.imagen }}">
							{# jugadores #}
							<div class="ep">{{ jugadores }}
								<span class="icon_profile"></span>
							</div>
							{# tamaño #}
							<div class="comment">
								<span class="fa fa-ruler-combined"></span>
								{{ juego.anchoTablero }}
								x
								{{ juego.altoTablero }}
							</div>
							{# btn reservar #}
							<div class="product__item__pic__btn-reservar">
								RESERVAR
							</div>
							{# numero de veces reservado #}
							<div class="view">
								<i class="fa fa-star"></i>
								{{ juego.reservas|length }}
							</div>
						</div>

						<div class="product__item__text">
							{# nombre #}
							<h4 class="text-light font-weight-bold">
								{{ juego.nombre | capitalize}}
							</h4>
						</div>
					</div>
				</div>


				{% endfor %}

			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="c-modalReservas" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header align-baseline">
						<h4 class="modal-title" id="exampleModalLongTitle">Hacer una Nueva Reserva</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="fa fa-x" aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">
						{# Acordeon #}
						<div id="acordeonReservas">
							{# Detalles del juego #}
							<div class="card">
								<header class="card-header" id="headerSeleccionJuego" data-toggle="collapse"
									data-target="#seleccionJuego" aria-expanded="true" aria-controls="seleccionJuego">
									<h4 class="mb-0">
										Selección de Juego
									</h4>
								</header>

								<article id="seleccionJuego" class="collapse show"
									aria-labelledby="headerSeleccionJuego" data-parent="#acordeonReservas">
									<div class="card-body">
										{# Selección de juego #}
										<div class="row">
											<label for="selectJuegos" class="h5 ml-4 pt-2">Juego:
											</label>
											<select name="selectJuegos" id="selectJuegos"
												class="col-3 ml-3 selectorJuego">
												{% for juego in juegos %}
												<option value="{{ juego.id }}">{{ juego.nombre }}</option>
												{% endfor %}
											</select>
										</div>

										{# detalles de juego #}
										<div class="row">
											<div class="col-6">
												<img src="#" class="mt-4" id="imgSeleccionJuego" alt="imagen del juego">
											</div>

											<div class="col-6">
												<h4 class="tituloJuegoSeleccionado">Titulo</h4>
												<p class="col-11 descrpJuegoSeleccionado mt-1">
													Descripción del juego
												</p>
												<div class="col-12 mt-4">
													<p class="col-8 h8 p-0 font-weight-bold NJugSeleccionJuego">Nº
														de jugadores:
														<span class="font-weight-light ml-2">2 - 4</span>
													</p>
													{# TODO: Arreglar que no se ve en la misma row, no se le aplica
													la clase col
													al nice-select pero en el otro si #}
													<select class="col-4 ml-2 selectNJugadores"
														name="selectNJugadores"></select>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>

							{# Escoge Mesa #}
							<div class="card">
								<header class="card-header" id="headerSeleccionFinal" data-toggle="collapse"
									data-target="#seleccionFinal" aria-expanded="false" aria-controls="seleccionFinal">
									<h4 class="mb-0">
										Selección de Mesa
									</h4>
								</header>
								<article id="seleccionFinal" class="collapse" aria-labelledby="headerSeleccionFinal"
									data-parent="#acordeonReservas">
									<div class="card-body">
										<section>
											<h4 class="col-12">Juego</h4>
											<select class="col-8" name="seleccionJuegoFinal"
												id="seleccionJuegoFinal"></select>
											<select class="col-2" name="seleccionJugadoresFinal"
												id="seleccionJugadoresFinal"></select>
											<h4 class="col-12">Fecha</h4>
											<div class="col-12" id="eldatepiker"></div>
											<h4 class="col-12">Hora</h4>
											<h6>Inicio:
											</h6>
											<h6>Fin:
											</h6>
										</section>
										<section>
											<h4>Mesa</h4>
											<div></div>
										</section>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</section>