<div class="trending__product">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="section-title">
				<h4>CATÁLOGO DE JUEGOS</h4>
			</div>
		</div>
		{% if role is same as 'admin' %}
			<div class="col-lg-4 col-md-4 col-sm-4">
			{# TODO: cambiar posicionamiento #}
				<div class="btn__añadir">
					<a href="#" class="primary-btn">
						<span class="fa fa-2x fa-plus"></span>
					</a>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="row">

		{% for juego in juegos %}

		{% if juego.minJugadores is same as juego.maxJugadores %}
		{% set jugadores = juego.maxJugadores %}

		{% else %}
		{% set jugadores = juego.minJugadores ~ ' / ' ~ juego.maxJugadores %}


		{% endif %}


		<div class="col-lg-4 col-md-6 col-sm-6">
			<a href="#">
				<div class="product__item">
					<div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
						{# jugadores #}
						<div class="ep">{{ jugadores }} <span class="icon_profile"></span></div>
						{# tamaño #}
						<div class="comment">
							<span class="fa fa-ruler-combined"></span> {{ juego.anchoTablero }} x {{ juego.altoTablero
							}}
						</div>
						{# numero de veces reservado #}
						<div class="view">
							<i class="fa fa-star"></i>
							{{ juego.reservas|length }}
						</div>
					</div>
					<div class="product__item__text">
						{# <ul>
							<li>Active</li>
							<li>Movie</li>
						</ul> #}

						{# nombre #}
						<h4 class="text-light font-weight-bold">
							{{ juego.nombre | capitalize}}
						</h4>
					</div>
				</div>
			</a>
		</div>


		{% endfor %}

		{# <div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">The Seven Deadly Sins: Wrath of the Gods</a>
					</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-2.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien</a>
					</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-3.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">Shingeki no Kyojin Season 3 Part 2</a>
					</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-4.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">Fullmetal Alchemist: Brotherhood</a>
					</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-5.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">Shiratorizawa Gakuen Koukou</a>
					</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="img/trending/trend-6.jpg">
					<div class="ep">18 / 18</div>
					<div class="comment">
						<i class="fa fa-comments"></i>
						11
					</div>
					<div class="view">
						<i class="fa fa-eye"></i>
						9141
					</div>
				</div>
				<div class="product__item__text">
					<ul>
						<li>Active</li>
						<li>Movie</li>
					</ul>
					<h5>
						<a href="#">Code Geass: Hangyaku no Lelouch R2</a>
					</h5>
				</div>
			</div>
		</div> #}
	</div>
</div>